
    <li class='article-snippet'>
    <article class="snippet">
    <div class="as-image-holder">
        {% if post.data.image %}
          <img class='default-blog' src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"> 
          {% else %}
          <img class='default-blog' src="/assets/images/posts/default.jpeg" alt="">
        {% endif %}
    </div>
   
    <h6 class="snippet__title">{{post.data.title}}</h6>
  <p class="snippet__meta">by <span>{{post.data.author}}</span> on <span>{{ post.date | postDate }}</span></p>
   <p class="snippet__body">{{post.data.description}}</p>
  <a href="{{post.url}}" class="post-link">Continue reading</a>
    </article>
    </li>




