
    <li class='article-snippet'>
    <article class="snippet">
    {% if post.data.image %}
      <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"> 
      {% else %}
      <img class='default-blog' src="/assets/images/default.jpeg" alt="">
    {% endif %}
   
    <h5 class="snippet__title">{{post.data.title}}</h5>
  <p class="snippet__meta">by <span>{{post.data.author}}</span> on <span>{{ post.date | postDate }}</span></p>
   <p class="snippet__body">{{post.data.description}}</p>
  <a href="{{post.url}}" class="post-link">Continue reading</a>
    </article>
    </li>




