<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span> {{ build.timestamp | dateToFormat('yyyy') }} All rights reserved. Brown Army FC</span>
        <a target='new' class='footer-cred'href="https://maxwellkirwin.co.uk">
            Website Design + Developed by Maxwell Kirwin
        </a>
    </div>
</footer>