//--------------------
// SCSS MIXINS
//--------------------

@mixin mq($name) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin mq-down($name) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (max-width: ($min - 1px)) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin hover-focus {
    &:hover,
    &:focus {
        @content;
    }
}

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@mixin sr-only-focusable {
    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        overflow: visible;
        clip: auto;
        white-space: normal;
    }
}

@mixin hyphenate() {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

@mixin coverall() {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@mixin scrollable() {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin button-reset() {
    border: 0;
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
}


//FLEXBOX
//----------------------------------------

@mixin center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin center-between-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin center-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin center-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin center-end-column {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin center-start-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  @mixin end-between {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin end-between-column {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin end-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin end-center-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin end-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin end-end-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin start-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  
  @mixin start-between-column {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }
  
  @mixin start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
  }
  
  @mixin start-center-column {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  
  @mixin start-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
  }
  
  @mixin start-end-column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  @mixin end-start {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin end-start-column {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  @mixin start-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @mixin start-start-column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  