---
layout: base
eleventyNavigation:
  key: Home
---
  <img class='homepage-background' src="/assets/images/background.jpg" alt="">
<div class="container">
    <div class="home-centered">
    
      <div class="home-bafc-text-group">
        {% icon 'bafc-logo' %}
        <h4 class="white moto--label">'the turd burglers'</h4>
        <h1 class='home--title'>Brown Army FC</h1>
        <p>The BEST football team that play on Tuesday night At Exeter UNI and still like each other (kind of)</p>
        <a href="/match-reports" class="btn">match reports</a>
      </div>
    </div>
</div>



