---
layout: base
eleventyNavigation:
  key: Home
---
  <img class='homepage-background' src="/assets/images/background.jpg" alt="">
<div class="container">
    <div class="home-centered">
    
      <div class="home-bafc-text-group">
        {% icon 'bafc-logo' %}
        <h4 class="white moto--label">'the turd burglars'</h4>
        <h1 class='home--title'>Brown Army FC</h1>
        <p>Established in 2021, The Brown Army is a six-a side football team stemming from the bowels of Devon. Represented by an array of players from different backgrounds, the Turd Burglars, or Porcelain Polluters as they are also known, play on Tuesday evenings at the Estadio de Mirwin against fierce rivals Chicken Odemwingies. </p>
        <a href="/match-reports" class="btn">match reports</a>
      </div>
    </div>
</div>



